@model Manufacturing_Core.Entity.TrPORequirementCollection

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrPORequirementCollection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkOrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOMNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOMNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockAvailableQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockAvailableQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSynchronized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSynchronized)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PkRequirementID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
