@model Manufacturing_Core.Entity.MMetarial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MMetarial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HSNCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HSNCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SACode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SACode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSynchronized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSynchronized)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkMatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
