@model IEnumerable<Manufacturing_Core.Entity.MPurchaseOrderDetails>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PO_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UOM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PO_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UOM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PODetailID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PODetailID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PODetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
