@model Manufacturing_Core.Entity.TrInventoryTransaction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TrInventoryTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MMetarial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MMetarial.MatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkWarehouseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkWarehouseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSynchronized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSynchronized)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkInTransId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
