@model Manufacturing_Core.ViewModels.MSupplierViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form asp-action="Details">
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="MSupplier.PkSupId" />
                <div class="card">
                    <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">Details Supplier</div>
                    <div class="card-body">
                        <fieldset class="border p-3">
                            <legend class="w-auto px-2">Supplier Details</legend>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label class="control-label" for="AccountTypeId" style="font-family:Verdana; font-weight:normal">Supplier Id</label>
                                        @Html.TextBox("Supplier Id.", Model.MSupplier.PkSupId, new { @class = "form-control", @readonly = "readonly" })
                                        <span asp-validation-for="MSupplier.PkSupId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label asp-for="MSupplier.SupplierCode" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                        <input asp-for="MSupplier.SupplierCode" class="form-control" />
                                        <span asp-validation-for="MSupplier.SupplierCode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label asp-for="MSupplier.SupplierName" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                        <input asp-for="MSupplier.SupplierName" class="form-control" />
                                        <span asp-validation-for="MSupplier.SupplierName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label asp-for="MSupplier.ShortName" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                        <input asp-for="MSupplier.ShortName" class="form-control" />
                                        <span asp-validation-for="MSupplier.ShortName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Current Address
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="mAddress.CurrentAddress" /> @Html.DisplayNameFor(model => model.mAddress.CurrentAddress)
                                        </label>
                                    </div>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Name</label>
                                                <input asp-for="mAddress.Name" class="form-control" />
                                                <span asp-validation-for="mAddress.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 1</label>
                                                <input asp-for="mAddress.CurrentAddressLine1" class="form-control" />
                                                <span asp-validation-for="mAddress.CurrentAddressLine1" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 2</label>
                                                <input asp-for="mAddress.CurrentAddressLine2" class="form-control" />
                                                <span asp-validation-for="mAddress.CurrentAddressLine2" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Country</label>
                                                <input asp-for="mAddress.Country" class="form-control" />
                                                <span asp-validation-for="mAddress.Country" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">State</label>
                                                <input asp-for="mAddress.State" class="form-control" />
                                                <span asp-validation-for="mAddress.State" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">City</label>
                                                <input asp-for="mAddress.City" class="form-control" />
                                                <span asp-validation-for="mAddress.City" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Pin Code</label>
                                                <input asp-for="mAddress.Pin" class="form-control" />
                                                <span asp-validation-for="mAddress.Pin" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Phone No.</label>
                                                <input asp-for="mAddress.PhNo" class="form-control" />
                                                <span asp-validation-for="mAddress.PhNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    Permenant Address
                                    <div class="form-group form-check">
                                        <label for="SameAsCurrent">
                                            Use current address as permanent address
                                            <input class="form-check-input" id="SameAsCurrent" asp-for="mAddress.PermAddress" /> @Html.DisplayNameFor(model => model.mAddress.PermAddress)
                                        </label>
                                    </div>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 1</label>
                                                <input asp-for="mAddress.PermAddressLine1" class="form-control" />
                                                <span asp-validation-for="mAddress.PermAddressLine1" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 2</label>
                                                <input asp-for="mAddress.PermAddressLine2" class="form-control" />
                                                <span asp-validation-for="mAddress.PermAddressLine2" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Country</label>
                                                <input asp-for="mAddress.PermCountry" class="form-control" />
                                                <span asp-validation-for="mAddress.PermCountry" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">State</label>
                                                <input asp-for="mAddress.PermState" class="form-control" />
                                                <span asp-validation-for="mAddress.PermState" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">City</label>
                                                <input asp-for="mAddress.PermCity" class="form-control" />
                                                <span asp-validation-for="mAddress.PermCity" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Pin Code</label>
                                                <input asp-for="mAddress.PermPin" class="form-control" />
                                                <span asp-validation-for="mAddress.PermPin" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Phone No.</label>
                                                <input asp-for="mAddress.PermPhNo" class="form-control" />
                                                <span asp-validation-for="mAddress.PermPhNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    Office Address
                                    @* <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="mAddresses.OfficeAddress" /> @Html.DisplayNameFor(model => model.mAddresses.OfficeAddress)
                                            </label>
                                        </div> *@
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 1</label>
                                                <input asp-for="mAddress.OfficeAddressLine1" class="form-control" />
                                                <span asp-validation-for="mAddress.OfficeAddressLine1" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 2</label>
                                                <input asp-for="mAddress.OfficeAddressLine2" class="form-control" />
                                                <span asp-validation-for="@Model.mAddress.OfficeAddressLine2" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Country</label>
                                                <input asp-for="mAddress.OfficeCountry" class="form-control" />
                                                <span asp-validation-for="mAddress.OfficeCountry" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">State</label>
                                                <input asp-for="mAddress.OfficeState" class="form-control" />
                                                <span asp-validation-for="mAddress.OfficeState" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">City</label>
                                                <input asp-for="mAddress.OfficeCity" class="form-control" />
                                                <span asp-validation-for="mAddress.OfficeCity" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Pin Code</label>
                                                <input asp-for="mAddress.OfficePin" class="form-control" />
                                                <span asp-validation-for="mAddress.OfficePin" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">Phone No.</label>
                                                <input asp-for="mAddress.OfficePhNo" class="form-control" />
                                                <span asp-validation-for="mAddress.OfficePhNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg">
                                            <div class="form-group">
                                                <label class="control-label" style="font-family:Verdana; font-weight:normal">EMailId</label>
                                                <input asp-for="mAddress.EMailId" class="form-control" />
                                                <span asp-validation-for="mAddress.EMailId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <fieldset class="border p-3">
                            <legend class="w-auto px-3">General Details</legend>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label asp-for="MSupplier.LicenceId" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                        <input asp-for="MSupplier.LicenceId" class="form-control" />
                                        <span asp-validation-for="MSupplier.LicenceId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label asp-for="MSupplier.VATNo" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                        <input asp-for="MSupplier.VATNo" class="form-control" />
                                        <span asp-validation-for="MSupplier.VATNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label asp-for="MSupplier.CSTNo" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                        <input asp-for="MSupplier.CSTNo" class="form-control" />
                                        <span asp-validation-for="MSupplier.CSTNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label asp-for="MSupplier.TINno" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                        <input asp-for="MSupplier.TINno" class="form-control" />
                                        <span asp-validation-for="MSupplier.TINno" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label asp-for="MSupplier.LicenceId" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                        <input asp-for="MSupplier.LicenceId" class="form-control" />
                                        <span asp-validation-for="MSupplier.LicenceId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg">
                                    <div class="form-group">
                                        <label asp-for="MSupplier.GSTIn" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                        <input asp-for="MSupplier.GSTIn" class="form-control" />
                                        <span asp-validation-for="MSupplier.GSTIn" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MSupplier.PkSupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>