@model Manufacturing_Core.ViewModels.TrInventoryViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TrInventoryViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
