@model IEnumerable<Manufacturing_Core.Entity.TrRequirementCollection>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="row container">
    <div class="form-group">
        <div class="card">
            <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">View Requirement Collection</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.Message == "Create")
                        {
                            <div class="alert alert-success">
                                <strong>@TempData["AlertMessage"]</strong>
                                <button type="button" class="close" data-dismiss="alert">
                                    <span>&times;</span>
                                </button>
                            </div>
                        }
                        else if (ViewBag.Message == "Edit")
                        {
                            <div class="alert alert-info">
                                <strong>@TempData["AlertMessage"]</strong>
                                <button type="button" class="close" data-dismiss="alert">
                                    <span>&times;</span>
                                </button>
                            </div>
                        }
                        else if (ViewBag.Message == "Delete")
                        {
                            <div class="alert alert-danger">
                                <strong>@TempData["AlertMessage"]</strong>
                                <button type="button" class="close" data-dismiss="alert">
                                    <span>&times;</span>
                                </button>
                            </div>
                        }
                    </div>

                    <div class="form-group">
                        <p>
                            <a asp-action="Create">Create New</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartmentId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartmentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Designation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumberOfEmployeesRequired)
                                </th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Designation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumberOfEmployeesRequired)
                                    </td>
                                    
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.RequirementCollectionId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.RequirementCollectionId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.RequirementCollectionId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
