@model Manufacturing_Core.ViewModels.MSupplierViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Message = TempData["Action"];
}

<div class="row container">
    <div class="form-group">
        <div class="col-sm-12 col-md-12 col-lg">
            <div class="card">
                <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">View Supplier</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            @if (ViewBag.Message == "Create")
                            {
                                <div class="alert alert-success">
                                    <strong>@TempData["AlertMessage"]</strong>
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span>&times;</span>
                                    </button>
                                </div>
                            }
                            else if (ViewBag.Message == "Edit")
                            {
                                <div class="alert alert-info">
                                    <strong>@TempData["AlertMessage"]</strong>
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span>&times;</span>
                                    </button>
                                </div>
                            }
                            else if (ViewBag.Message == "Delete")
                            {
                                <div class="alert alert-danger">
                                    <strong>@TempData["AlertMessage"]</strong>
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span>&times;</span>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <p>
                            <a asp-action="Create">Create New</a>
                        </p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.MSupplier.PkSupId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MSupplier.SupplierCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MSupplier.SupplierName)
                                </th>                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.MSuppliersList != null)
                            {
                                @foreach (var item in Model.MSuppliersList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PkSupId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SupplierCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SupplierName)
                                        </td>                                        
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.PkSupId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.PkSupId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.PkSupId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>