@model Manufacturing_Core.ViewModels.MItemViewModel
<div class="row">
    <div class="col-sm-5 col-md-5">
        <div class="form-group">
            @* <table>
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.mItem.FileName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.mItem.DownloadLink)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.mItemDtls != null)
                                            {
                                                @foreach (var item in Model.)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FileName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DownloadLink)
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table> 
            <div>
                <p><strong>File Name:</strong> @Model.mItemDtls.FileName</p>
                <p><strong>Download Link:</strong> <a href="@Model.mItemDtls.DownloadLink" download></a></p>
            </div>*@
        </div>
    </div>
</div>
