@model Manufacturing_Core.ViewModels.MLedgerAddressViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form asp-action="Details">
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg">
                <div class="card">
                    <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">Details Ledger</div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="mLedgers.PKLedgerNo" />
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Ledger Information
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Company No.</label>
                                                    @Html.TextBox("Company No", Model.mLedgers.CompanyNumber, new { @class = "form-control", @readonly = "readonly" })
                                                    <span asp-validation-for="@Model.mLedgers.CompanyNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Ledger User No</label>
                                                    @Html.TextBox("LedgerUserNo", Model.mLedgers.LedgerUserNo, new { @class = "form-control", @readonly = "readonly" })
                                                    <span asp-validation-for="@Model.mLedgers.LedgerUserNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Ledger Name</label>
                                                    <input asp-for="mLedgers.LedgerName" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.LedgerName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Opening Balance</label>
                                                    <input asp-for="mLedgers.OpeningBalance" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.OpeningBalance" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        Current Address
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="mAddresses.CurrentAddress" /> @Html.DisplayNameFor(model => model.mAddresses.CurrentAddress)
                                            </label>
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Name</label>
                                                    <input asp-for="mAddresses.Name" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 1</label>
                                                    <input asp-for="mAddresses.CurrentAddressLine1" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.CurrentAddressLine1" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 2</label>
                                                    <input asp-for="mAddresses.CurrentAddressLine2" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.CurrentAddressLine2" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Country</label>
                                                    <input asp-for="mAddresses.Country" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.Country" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">State</label>
                                                    <input asp-for="mAddresses.State" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.State" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">City</label>
                                                    <input asp-for="mAddresses.City" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.City" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Pin Code</label>
                                                    <input asp-for="mAddresses.Pin" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.Pin" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Phone No.</label>
                                                    <input asp-for="mAddresses.PhNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.PhNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        Permenant Address
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="mAddresses.PermAddress" /> @Html.DisplayNameFor(model => model.mAddresses.PermAddress)
                                            </label>
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 1</label>
                                                    <input asp-for="mAddresses.PermAddressLine1" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.PermAddressLine1" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 2</label>
                                                    <input asp-for="mAddresses.PermAddressLine2" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.PermAddressLine2" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Country</label>
                                                    <input asp-for="mAddresses.PermCountry" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.PermCountry" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">State</label>
                                                    <input asp-for="mAddresses.PermState" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.PermState" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">City</label>
                                                    <input asp-for="mAddresses.PermCity" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.PermCity" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Pin Code</label>
                                                    <input asp-for="mAddresses.PermPin" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.PermPin" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Phone No.</label>
                                                    <input asp-for="mAddresses.PermPhNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.PermPhNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        Office Address
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="mAddresses.OfficeAddress" /> @Html.DisplayNameFor(model => model.mAddresses.OfficeAddress)
                                            </label>
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 1</label>
                                                    <input asp-for="mAddresses.OfficeAddressLine1" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.OfficeAddressLine1" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Address Line 2</label>
                                                    <input asp-for="mAddresses.OfficeAddressLine2" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.OfficeAddressLine2" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Country</label>
                                                    <input asp-for="mAddresses.OfficeCountry" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.OfficeCountry" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">State</label>
                                                    <input asp-for="mAddresses.OfficeState" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.OfficeState" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">City</label>
                                                    <input asp-for="mAddresses.OfficeCity" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.OfficeCity" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Pin Code</label>
                                                    <input asp-for="mAddresses.OfficePin" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.OfficePin" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Phone No.</label>
                                                    <input asp-for="mAddresses.OfficePhNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.OfficePhNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">EMailId</label>
                                                    <input asp-for="mAddresses.EMailId" class="form-control" />
                                                    <span asp-validation-for="@Model.mAddresses.EMailId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                        Other Details
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Contact Person</label>
                                                    <input asp-for="mLedgers.ContactPerson" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.ContactPerson" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Fax No</label>
                                                    <input asp-for="mLedgers.FaxNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.FaxNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">CST No</label>
                                                    <input asp-for="mLedgers.CSTNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.CSTNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">BSTNo</label>
                                                    <input asp-for="mLedgers.BSTNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.BSTNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Income Tax No</label>
                                                    <input asp-for="mLedgers.IncomeTaxNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.IncomeTaxNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">VATNo</label>
                                                    <input asp-for="mLedgers.VATNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.VATNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">SaleTaxNo</label>
                                                    <input asp-for="mLedgers.SaleTaxNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.SaleTaxNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">PANNo</label>
                                                    <input asp-for="mLedgers.PANNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.PANNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">ExciseRegestrationNo</label>
                                                    <input asp-for="mLedgers.ExciseRegestrationNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.ExciseRegestrationNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">ServiceTaxRegNo</label>
                                                    <input asp-for="mLedgers.ServiceTaxRegNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.ServiceTaxRegNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" asp-for="mLedgers.IsServiceTaxApply" /> @Html.DisplayNameFor(model => model.mLedgers.IsServiceTaxApply)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">WebSite</label>
                                                    <input asp-for="mLedgers.WebSite" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.WebSite" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">WebSite</label>
                                                    <input asp-for="mLedgers.GSTINNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.WebSite" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">WebSite</label>
                                                    <input asp-for="mLedgers.UINNo" class="form-control" />
                                                    <span asp-validation-for="@Model.mLedgers.WebSite" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg">
                                                <div class="form-group">
                                                    <label style="font-family:Verdana; font-weight:normal">Bank </label>
                                                    <select asp-for="mLedgers.FkBankId" class="form-control" asp-items="ViewBag.FkBankId"></select>
                                                    <span asp-validation-for="mLedgers.FkBankId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mLedgers.PKLedgerNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
